/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Body */
body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 700px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* Title */
h1 {
  color: #f1f5f9;
  margin-bottom: 20px;
}

/* Input section */
.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

/* Todo list */
.todo-list {
  max-height: 250px;
  overflow-y: auto;
}

/* Todo item */
.todo-item {
  background: #334155;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
}

/* Left side */
.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Checkbox */
.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #38bdf8;
}

/* Text */
.task-text {
  font-size: 16px;
}

/* Actions */
.actions {
  display: flex;
  gap: 8px;
}

/* Buttons */
.edit-btn,
.delete-btn {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

/* Edit */
.edit-btn {
  background: #22c55e;
}

.edit-btn:hover {
  background: #16a34a;
}

/* Delete */
.delete-btn {
  background: #ef4444;
}

.delete-btn:hover {
  background: #dc2626;
}